@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/KELLERAGfuerDruckmesstechnik/KellerAg.Shared.IoT.Converters" target="_blank" style="color:#FEFEFE;" class="ml-md-auto">https://github.com/KELLERAGfuerDruckmesstechnik/KellerAg.Shared.IoT.Converters</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>